name: SSH into EC2 and Update Code

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Update Code
    runs-on: ubuntu-latest
    steps:
      - name: SSH into EC2 and Update Code
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/autointerdel.ddns.net/wordpress/wp-content/themes
            sudo git pull
            sudo chown -R www-data:www-data /var/www/autointerdel.ddns.net/wordpress/wp-content/themes/
